@use './function' as *;

// SCSS Variable's
$scss-font-primary: 'Cabinet Grotesk', sans-serif;
$scss-font-secondary: 'Poppins', sans-serif;
$scss-color-primary:#ea5949;
$scss-color-primary-rgb: toRGB($scss-color-primary);

$font-primary: var(--font-primary);
$font-secondary: var(--font-secondary);

$color-primary: var(--color-primary);
$color-primary-rgb: var(--color-primary-rgb);

$color-black:#000000;
$color-white:#ffffff;
$color-body: var(--color-body);

$gutter: 24px;

$transition-menu: var(--transition-menu);
$transition-ease: cubic-bezier(.21,.01,.21,.96);
$transition-ease--bounce: cubic-bezier(0.34, 1.56, 0.64, 1);