@use '../../assets/scss/abstracts' as *;

.category-card{
    --_radius: 2.5rem;

    background-color: $color-white;
    box-shadow: 0 0 toEm(20) rgba($color-black, $alpha: 0.02);
    padding: toRem(10);
    border-radius: calc(var(--_radius) / 2);
    @extend %overflow-hidden;

    @extend %wh-full;
    
    &__body{
        position: relative;
        @extend %wh-full;
    }

    &__figure{
        @extend %stacking-context;
        @extend %wh-full;

        &__bg{
            @extend %full-width;
            border-radius: calc(var(--_radius) / 2);
        }
    }

    &__action{
        --_size: 3rem;
        @media (min-width: 768px) and (max-width: 991.98px), (min-width: 1400px){
            --_size: 3.5rem;
        }
        --_gap: 10px;

        position: absolute;
        isolation: isolate;
        right: 0;
        bottom: 0;
        padding-block-start: var(--_gap);
        padding-inline-start: var(--_gap);
        border-top-left-radius: calc(var(--_size) - (var(--_gap) * 2));
        color: $color-white;
        background-color: currentColor;

        &::before,
        &::after
        {
            @extend %common-pseudo;
            z-index: -1;
            width: var(--_radius);
            aspect-ratio: 1;
            border-radius: 50%;
            box-shadow: calc(var(--_radius) / 2) calc(var(--_radius) / 2) 0 currentColor;
        }

        &::before{
            top: 0;
            right: 0;
            transform: translateY(calc(var(--_radius) * -1));
        }

        &::after{
            bottom: 0;
            left: 0;
            transform: translateX(calc(var(--_radius) * -1));
        }

        &__btn{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: var(--_size);
            aspect-ratio: 1;
            color: $color-primary;
            border: 1px solid $color-primary;
            @extend %transition;
            @extend %rounded-circle;

            &:active{
                color: $color-white;
                background-color: $color-primary;
            }

            @include hover{
                &:hover,
                &:focus-visible
                {
                    color: $color-white;
                    background-color: $color-primary;
                }
            }
        }
    }

    &__heading{
        --_position: #{toRem(15)};
        position: absolute;
        background-color: $color-white;
        padding: toRem(10) toRem(15);
        border-radius: calc(var(--_radius) / 2);
        top: var(--_position);
        right: var(--_position);
        left: var(--_position);
        display: block;

        &__title{
            @extend %uppercase;
            @extend %fw-extrabold;
            @extend %transition;

            font-size: toRem(20);
            @include min-md{
                font-size: toRem(26);
            }
            line-height: 1;
            margin-bottom: 0;
        }

        &:active{
            color: $color-primary;
        }

        @include hover{
            &:hover,
            &:focus-visible
            {
                color: $color-primary;
            }
        }
    }
}