@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap-grid.min.css');
@import url('https://fonts.cdnfonts.com/css/cabinet-grotesk');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');

:root{
    --font-primary: 'Cabinet Grotesk', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
    --color-text: #000000;
    --color-primary: #ea5949;
    --color-body: #fff6f1;
    --transition-primary: all 0.2s ease-in-out;
    --transition-menu: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

*,
*::before,
*::after
{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

html{
    background-color: var(--color-body);
    transition: background-color var(--transition-menu);

    &.active--menu{
        overflow: hidden;
        background-color: #ffffff;
    }
}

html,
body
{
    scroll-behavior: smooth;
}

body{
    color: var(--text-color);
    font-family: var(--font-primary);
    font-weight: 400;
}

a{
    text-decoration: none;
}

button,
a
{
    color: inherit;
}

img,
svg
{
    display: block;
    max-width: 100%;
    object-fit: cover;
}

p{
    font-family: var(--font-secondary);
}

i[class^="fi"]{
    line-height: 0
}

@import url(./components/_buttons.scss);

.section-title {
    font-size: 2.52rem;
}

.section-gap {
    padding-block: 5rem;
}

.vh-100{
    min-height: 100vh;
}